@charset "UTF-8";
@import url(slick-theme.css);
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

html {
  font-size: 100%; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

.menu-icon--open {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  position: relative; }

.menu-icon--open::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 3px;
  top: 45%;
  background-color: blue; }

.header-bar {
  height: 600px;
  padding-left: 80px;
  padding-right: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/physiotherapy-567021_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px; }
  .nav-bar__logo {
    flex-basis: 30%;
    margin-bottom: 10px; }

.nav__list {
  display: flex;
  justify-content: space-around;
  flex-basis: 70%;
  align-items: center;
  height: 80px;
  align-items: center; }

.list-item {
  text-decoration: none;
  color: white; }

.info {
  margin: 0 auto;
  margin-top: 120px; }
  .info__title {
    font-size: 28px; }
  .info__text {
    margin-top: 40px; }

@media (min-width: 960px) {
  .menu-icon--open {
    display: none; }
  .menu-icon--close {
    display: none; } }

@media (max-width: 960px) {
  .header-bar {
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/physiotherapy-567021_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; }
  .nav-bar {
    position: relative;
    margin: 0 auto;
    width: 100%; }
  .nav__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    flex-basis: 100%;
    background-color: white;
    height: 100%;
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1); }
    .nav__list li {
      width: 100%; }
  .list-item {
    display: flex;
    justify-content: flex-start;
    height: 60px;
    padding: 30px;
    flex-basis: 10%;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 300;
    background-color: white; } }

.svg__test {
  fill: white; }

.list-item--close {
  display: inline-block; }

.nav-bar--close {
  float: right;
  margin-right: 20px;
  height: 40px;
  width: 40px; }

.list-item--close {
  position: relative; }

.menu-icon--close {
  position: absolute;
  top: 80%;
  left: 70%;
  width: 30px;
  height: 34px; }

.menu-icon--close:before,
.menu-icon--close:after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0%;
  width: 26px;
  height: 2px;
  background: black; }

.menu-icon--close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-icon--close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-open {
  display: block; }

.menu-close {
  display: none; }

.about-us {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.about__wrapper {
  align-self: center;
  flex-basis: 40%; }

.about__me__img__wrapper {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
  height: 350px; }

.about__me-1 {
  width: 200px;
  height: 300px;
  background-image: url("../images/man-2037255_640.jpg");
  background-size: cover;
  background-position: 50% 90%;
  align-self: flex-start; }

.about__me-2 {
  width: 200px;
  height: 300px;
  background-image: url("../images/people-2563491_640.jpg");
  background-size: cover;
  background-position: 50% 90%;
  align-self: flex-end; }

@media (max-width: 960px) {
  .about-us {
    padding-bottom: 40px; }
  .about__wrapper {
    flex-basis: 100%; }
  .about__me__img__wrapper {
    flex-basis: 100%;
    height: 100%; } }

.reviews {
  margin-top: 80px;
  margin-bottom: 80px; }

.reviews__title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 40px; }

.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.slick-list {
  order: -1; }

.reviews__content {
  padding: 20px;
  height: 200px;
  background-color: #fcede8;
  justify-self: center; }

.reviews__name {
  margin-bottom: 20px;
  font-size: 0.9rem; }

.reviews__text {
  font-size: 1.5rem; }

/* Slider */
/* Slider */
.slick-slider {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  margin: 5px;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  border: none; }

.slick-arrow {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-top: 40px;
  background-color: transparent;
  border-radius: 1.625rem; }

.slick-next {
  margin-left: 20px; }

.slick-prev {
  margin-right: 20px; }

.slick-prev::after, .slick-prev::before {
  right: 45%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.slick-prev::after {
  border-right-color: white;
  border-width: 8px;
  margin-top: -8px; }

.slick-prev::before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #ffa188;
  border-width: 16px;
  margin-top: -16px; }

.slick-next::after, .slick-next::before {
  left: 40%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.slick-next::after {
  border-left-color: white;
  border-width: 8px;
  margin-top: -8px; }

.slick-next::before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #ffa188;
  margin-top: -16px;
  border-width: 16px; }

.contact {
  margin: 0 auto;
  padding: 80px;
  background-color: #f5f3f3; }

.contact__title {
  margin-bottom: 10px; }

.contact__text {
  margin-bottom: 20px; }

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.contact__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 65%; }

.contact__form__info {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between; }

.contact__form__input-wrapper {
  width: 49%;
  margin-bottom: 20px; }

.contact__form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .75rem 2.5rem .75rem 1rem; }

.contact__form__select {
  position: relative;
  flex-basis: 100%; }

.contact__form__select select {
  display: block;
  width: 100%;
  /* от ширины блока div */
  padding: .75rem 2.5rem .75rem 1rem;
  /* отступы от текста до рамки */
  background: white;
  /* убираем фон */
  border: 1px solid #ccc;
  /* рамка */
  border-radius: 3px;
  /* скругление полей формы */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  font-family: inherit;
  /* наследует от родителя */
  color: #444; }

.contact__form__select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px; }

.contact__form__text {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .75rem 2.5rem .75rem 1rem;
  resize: none;
  color: rgba(1, 1, 1, 0.3); }

.contact__form__button {
  margin-top: 80px;
  flex-basis: 50%;
  height: 60px;
  background-color: #ffa188;
  font-size: 1.6rem;
  color: white;
  border-radius: 30px;
  border: none; }

.contact__info {
  flex-basis: 30%;
  height: 330px;
  background-color: white;
  padding: 40px; }

.contact__info__text {
  margin-top: 20px; }

@media (max-width: 960px) {
  .contact__wrapper {
    flex-direction: column; }
  .contact__form__button {
    margin-top: 40px;
    margin-bottom: 40px; } }

@media (max-width: 640px) {
  .contact__form__button {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-basis: 100%;
    height: 60px;
    background-color: #ffa188;
    font-size: 1.6rem;
    color: white;
    border-radius: 30px;
    border: none; }
  .contact__form__info {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between; }
  .contact__form__input-wrapper {
    width: 100%;
    margin-bottom: 20px; } }

.services {
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: #fcede8; }

.item1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img_1.jpg");
  background-size: cover; }

.item2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img_2.jpg");
  background-size: cover; }

.item3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img_3.jpg");
  background-size: cover; }

.item4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img_4.jpg");
  background-size: cover; }

.services__content {
  display: flex;
  flex-wrap: wrap; }

.services__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  height: 300px;
  padding: 50px;
  transition: 0.9s; }

.services__title {
  font-size: 2rem;
  margin-bottom: 20px; }

.services__text {
  margin-bottom: 20px;
  font-size: 1.2rem; }

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0; }
  .button.services__button {
    width: 14rem;
    height: auto; }
    .button.services__button .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #ffa188;
      border-radius: 1.625rem; }
      .button.services__button .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white; }
        .button.services__button .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          .button.services__button .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    .button.services__button .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      color: #ffa188;
      font-weight: 700; }
  .button:hover .circle {
    width: 100%; }
    .button:hover .circle .icon.arrow {
      background: white;
      transform: translate(1rem, 0); }
  .button:hover .button-text {
    color: white; }

@media (max-width: 960px) {
  .services__content {
    display: flex;
    flex-direction: column; } }

@media (min-width: 960px) {
  .services__wrapper:hover {
    flex-grow: 3;
    transition: 0.9s; }
    .services__wrapper:hover .services__text {
      opacity: 1;
      transition: 0.9s; }
  .services__text {
    width: 30rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    transition: 0.9s; } }

@media (max-width: 640px) {
  .services__text {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    transition: 0.9s; } }

.button__wrapper--all {
  display: flex;
  justify-content: center; }

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0; }
  .button.services__button--all {
    width: 34rem;
    height: auto;
    margin-top: 2rem; }
    .button.services__button--all .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      background: #ffa188;
      border-radius: 2.625rem; }
      .button.services__button--all .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
        .button.services__button--all .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 1rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          .button.services__button--all .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    .button.services__button--all .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffa188;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase; }
  .button:hover .circle {
    width: 100%; }
    .button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0); }
  .button:hover .button-text {
    color: #fff; }

.footer-bar {
  height: 400px;
  padding: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wellness-589774_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; }

.footer__title {
  text-align: center; }

.footer__nav-bar {
  margin: 0 auto; }

.footer__nav__list {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  flex-wrap: wrap; }

.footer__list-item {
  padding: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5); }
