.contact {
    margin: 0 auto;
    padding: 80px;

    background-color: #f5f3f3;
}

.contact__title {
    margin-bottom: 10px;
}
.contact__text {
    margin-bottom: 20px;
}
.contact__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.contact__form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 65%;
 
}
.contact__form__info {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;

}
.contact__form__input-wrapper {
    width: 49%;
    margin-bottom: 20px;
   
}
.contact__form__input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .75rem 2.5rem .75rem 1rem;
    
}
.contact__form__select {
   
    
    position: relative;
    flex-basis: 100%;
}
.contact__form__select select {
   
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    background: white; /* убираем фон */
    border: 1px solid #ccc; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    // font-size: 1rem;
    color: #444;
}
.contact__form__select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}

.contact__form__text {
    width: 100%;
    height: 200px;
    
    margin-top: 20px;

    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .75rem 2.5rem .75rem 1rem;

    resize: none;
    color: rgba(1, 1, 1, 0.3);
}
.contact__form__button {
    margin-top: 80px;
    
    flex-basis: 50%;
    height: 60px;

    background-color: $main_color;
    
    font-size: 1.6rem;
    color: white;

    border-radius: 30px;
    border: none;
}

.contact__info {
    flex-basis: 30%;
 
    height: 330px;
    background-color: white;
    
    padding: 40px;
}

.contact__info__text {
    margin-top: 20px;
}

@media (max-width: 960px) {
    .contact__wrapper {
        flex-direction: column;
    }
    .contact__form__button {
        margin-top: 40px;
        margin-bottom: 40px;
       
    }
}
@media (max-width: 640px) {
    .contact__form__button {
        margin-top: 40px;
        margin-bottom: 40px;
        flex-basis: 100%;
        height: 60px;
    
        background-color: $main_color;
        
        font-size: 1.6rem;
        color: white;
    
        border-radius: 30px;
        border: none;
    }
    .contact__form__info {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-between;
    
    }
    .contact__form__input-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}