.header-bar {
  height: 600px;
  padding-left: 80px;
  padding-right: 80px;

  background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/physiotherapy-567021_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;


}

.nav-bar {
  // width: 960px;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  justify-content: space-around;

  height: 80px;
  align-items: center;
}
.list-item {
  text-decoration: none;
  color: white;
}

.info {
  // width: 960px;
  margin: 0 auto;
  margin-top: 120px;
  &__wrapper {
    // width: 640px;
  }
  &__title {
    font-size: 28px;
  }
  &__text {
    margin-top: 40px;
  }
}
@media(max-width: 960px) {
  .header-bar {
    height: 600px;
    padding-left: 0;
    padding-right: 0;
  
    background: linear-gradient(rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)),
      url('../images/physiotherapy-567021_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    color: white;
  }
  
  .nav-bar {
    position: relative;
    margin: 0 auto;

    width: 100%;
    
  }
  .nav__list {
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    
    li {
      width: 100%;
      
    }
  }
  .list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    flex-basis: 100%;
    
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    
    background-color: #df8f79;
    border-top: 1px solid #c07c69;
    border-bottom: 1px solid #000001;
  }
}
.nav__button {
  position: absolute;
  border:2px solid red;
  background-color: red;
  height: 30px;
  width: 30px;
  top: 0;
  left: 100%;
}
.svg__test {
  fill: white;
}