.services {
 
  padding-bottom: 40px;
  margin: 0 auto;

  background-color: #fcede8;
}


.item1 {
  background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/img_1.jpg');
  background-size: cover;

}
.item2 {
  background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/img_2.jpg');
  background-size: cover;


}
.item3 {
  background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/img_3.jpg');
  background-size: cover;

}
.item4 {
  background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/img_4.jpg');
    background-size: cover;
}

.services__content {
  display: flex;
  flex-wrap: wrap;
}


.services__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  color: white;

  height: 300px;
  padding: 50px;

  transition: 0.9s;
}


.services__title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.services__text {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
  //button кнопка

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  // outline: none;
  border: 0;

  // vertical-align: middle;
  // text-decoration: none;
  background: transparent;
  padding: 0;
  // font-size: inherit;
  // font-family: inherit;
  &.services__button {
    width: 14rem;
    height: auto;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $main_color;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;


      color: $main_color;
      font-weight: 700;

    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

@media (max-width: 960px) {  
  .services__content {
    display: flex;
    flex-direction: column;
  }

}


@media (min-width: 960px) {
  .services__wrapper:hover {
    flex-grow: 3;
    transition: 0.9s;
    
      .services__text {
        opacity: 1;
        transition: 0.9s;
       }
      }
  .services__text{
    width: 30rem;
    margin-bottom: 2rem;

    font-size: 1.2rem;
        
    transition: 0.9s;
  }
}
@media (max-width: 640px){
  .services__text{
    width: 100%;
    margin-bottom: 2rem;

    font-size: 1.2rem;
        
    transition: 0.9s;
  }
}